@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

body {
  background: #eaeef6;
  font-family: "Open Sans", sans-serif;
  padding-left: 6rem !important;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background: rgba(255, 255, 255, 0.55); /* שקיפות יפה */
  backdrop-filter: blur(12px); /* אפקט זכוכית */
  border-radius: 18px;
  padding: 1rem 0.5rem;
  height: auto;
  max-height: 16rem;
  width: 4.5rem;      /* היה 6rem → עכשיו הרבה יותר דק */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2000;
  border: none;
}

/* LOGO */
.navbar .logo {
  width: 45px;
  margin-bottom: 1.2rem;
}

.navbar .logo img {
  width: 100%;
  height: auto;
  display: block;
}

/* MENU */
.navbar__menu {
  position: relative;
  width: 100%;
  margin-top: 1rem;
  padding: 0;
}

.navbar__item {
  list-style: none;
  position: relative;
}

/* LINK */
.navbar__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 18px;
  color: #6a778e;
  transition: 250ms ease all;
  font-size: 1.2rem;
}

.navbar__link:hover {
  color: #fff;
}

/* LABELS (Home / Projects...) */
.navbar__link span {
  position: absolute;
  left: 100%;
  transform: translate(-3rem);
  margin-left: 1rem;
  opacity: 0;
  pointer-events: none;
  color: #406ff3;
  background: #fff;
  padding: 0.75rem;
  border-radius: 18px;
  transition: 250ms ease all;
  white-space: nowrap;
}

.navbar:hover .navbar__link:hover span {
  opacity: 1;
  transform: translate(0);
}

/* ICON SIZE */
.navbar__link i {
  width: 22px;
  height: 22px;
}
